@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Fonts */

@font-face {
  font-family: "Bertioga Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/BertiogaSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Bertioga Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/BertiogaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bertioga Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/BertiogaSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Bertioga Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/BertiogaSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Bertioga Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/BertiogaSans-Bold.ttf") format("truetype");
}

body {
  @apply font-berty;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-light:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider-light:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.slider-dark:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #1f2937);
}

.slider-dark:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #1f2937);
}

.slider-track {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.blur-background {
  backdrop-filter: blur(24px);
}

/* Mode button */

.mode-btn--shadow {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.1);

  & div {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0.1);
  }
}

/* Navbar item */
.navbar-item {
  @apply font-medium text-sm;
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.main-text {
  display: block;
  transition: transform 500ms;
}

.hover-text {
  transition: transform 250ms;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-item:hover .main-text {
  transition: transform 250ms;
  transform: translateY(-100%);
}

.navbar-item:hover .hover-text {
  transition: transform 250ms;
  transform: translateY(0%);
}
/* CV button */
.cv-btn {
  @apply py-1.5 px-3 text-sm  border rounded  overflow-hidden relative inline-block cursor-pointer;
}

.cv-btn span {
  position: relative;
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.cv-btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.cv-btn:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.cv-btn-light {
  @apply border-primary-light-500 text-primary-light-500 before:bg-primary-light-500;
}
.cv-btn-light:hover span {
  @apply text-gray-50;
}

.cv-btn-dark:hover span {
  @apply text-gray-800;
}

.cv-btn-dark {
  @apply border-primary-dark-500 text-primary-dark-500 before:bg-primary-dark-500;
}

/* Project button */
.projects-btn {
  @apply py-2 px-4  text-sm  border rounded  overflow-hidden relative inline-block;
}

.projects-btn span {
  position: relative;
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.projects-btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.projects-btn:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.projects-btn-light:hover span {
  @apply text-primary-white;
}

.projects-btn-dark:hover span {
  @apply text-gray-800;
}

.tag-light {
  @apply text-gray-400 bg-gray-100;
}

.tag-dark {
  @apply bg-gray-700 text-gray-400;
}

/* Light Mode */

.blackout-light {
  @apply bg-gray-50;
}
/* Header light */
.header-light {
  @apply border-primary-light-500;
}

.mail-light {
  @apply text-gray-700;
}

.navbar-item-light {
  @apply text-gray-700;
}

.navbar-menu-light {
  @apply bg-gray-700;
}
/* Home light */
.home-title-light {
  @apply text-primary-light-500;
}

.home-subtitle-light {
  @apply text-gray-50 bg-gray-800 w-fit p-2 lg:p-4;
}
/* Banner Light */
.banner-light {
  @apply bg-gray-100;
}

/* Projects light */

.projects-btn-light {
  @apply border-gray-800 text-gray-800 before:bg-gray-800;
}

.project-num-light {
  @apply text-gray-600;
}

.project-title-light {
  @apply text-gray-600;
}

.project-description-light {
  @apply text-gray-500;
}

.project-border-light {
  @apply border-gray-200;
}

.project-link-light {
  @apply text-primary-light-500;
}

.project-label-light {
  @apply bg-gray-100 text-gray-500;
}

/* Quote light */
.quote-light {
  @apply bg-primary-light-500 text-primary-light-700;
}

/* About light */
.about-title-light {
  @apply text-gray-600;
}

.about-text-light {
  @apply text-gray-500;
}

.about-photo-light {
  @apply border-primary-light-500;
}
/* Dark Mode */

.blackout-dark {
  @apply bg-gray-800;
}
/* Header dark */
.header-dark {
  @apply border-primary-dark-500;
}

.mail-dark {
  @apply text-gray-100;
}

.navbar-item-dark {
  @apply text-gray-100;
}
.navbar-menu-dark {
  @apply bg-gray-100;
}

/* Home dark */

.home-title-dark {
  @apply text-primary-dark-500;
}

.home-subtitle-dark {
  @apply text-gray-800 bg-gray-50 w-fit p-2 lg:p-4;
}

/* Banner dark */

.banner-dark {
  @apply bg-gray-700;
}

/* Projects dark */

.projects-btn-dark {
  @apply border-gray-50 text-gray-50 before:bg-gray-50;
}

.project-num-dark {
  @apply text-gray-200;
}

.project-title-dark {
  @apply text-gray-200;
}

.project-description-dark {
  @apply text-gray-400;
}

.project-border-dark {
  @apply border-gray-600;
}
.project-link-dark {
  @apply text-primary-dark-500;
}

.project-label-dark {
  @apply bg-gray-700 text-gray-400;
}

/* Quote dark */
.quote-dark {
  @apply bg-primary-dark-500 text-primary-light-600;
}

/* About light */
.about-title-dark {
  @apply text-gray-200;
}

.about-text-dark {
  @apply text-gray-400;
}

.about-photo-dark {
  @apply border-primary-dark-500;
}
