@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-berty;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider:before,
.slider:after {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.slider:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.slider-track {
  display: inline-block;
  animation: 45s slide infinite linear;
}

.blur-background {
  backdrop-filter: blur(8px);
}

/* Components  */

.navbar-item {
  @apply font-medium  text-sm;
}
/* Light Mode */

.blackout-light {
  @apply bg-primary-white;
}

.header-light {
  @apply border-primary-light-500;
}

.mail-light {
  @apply text-gray-600;
}

.navbar-item-light {
  @apply text-gray-600 hover:text-primary-light-500;
}
/* Dark Mode */

.blackout-dark {
  @apply bg-gray-800;
}

.header-dark {
  @apply border-primary-dark-500;
}

.mail-dark {
  @apply text-gray-200;
}

.navbar-item-dark {
  @apply text-gray-200 hover:text-primary-dark-500;
}
